*.cache
*.exe
*.png
*.pdb
Storm Pounder - First Contact/bin/WindowsGL/Debug/
Storm Pounder - First Contact/obj/x86/Debug/
Storm Pounder - First Contact/bin/WindowsGL/Release/
Storm Pounder - First Contact.v11.suo
Storm Pounder - First Contact/obj/x86/Release/Storm Pounder - First Contact.csproj.FileListAbsolute.txt
*.rar
*.zip
*.psess
*.vsp
*.cd